<?xml version="1.0"?>
<root>
<port>40444</port>
<ip>0.0.0.0</ip>
<UpnpMaxContentLength></UpnpMaxContentLength>
<devroot>
<dev>
<DeviceId>uuid:a76e84e4-ad88-5425-40cf-0a2352e4cce6</DeviceId>
<DeviceType></DeviceType>
<ServiceType></ServiceType>
<ServiceVer></ServiceVer>
<Location>http://192.168.2.1:1956/DeviceDescription.xml</Location>
<Os>UPnP/1.0 DLNADOC/1.50 Platinum/0.6.9.1</Os>
<IP>192.168.2.1</IP>
<baseURL>http://192.168.2.1:1956</baseURL>
<deviceType>urn:schemas-upnp-org:device:MediaServer:1</deviceType>
<UDN>uuid:a76e84e4-ad88-5425-40cf-0a2352e4cce6</UDN>
<friendlyName>XBMC (laptop)</friendlyName>
<Services>
<Service>
<Type>2</Type>
<SCPDUrl>http://192.168.2.1:1956/ContentDirectory/a76e84e4-ad88-5425-40cf-0a2352e4cce6/scpd.xml</SCPDUrl>
<serviceTypeUrn>urn:schemas-upnp-org:service:ContentDirectory:1</serviceTypeUrn>
<eventSubURL>http://192.168.2.1:1956/ContentDirectory/a76e84e4-ad88-5425-40cf-0a2352e4cce6/event.xml</eventSubURL>
<controlURL>http://192.168.2.1:1956/ContentDirectory/a76e84e4-ad88-5425-40cf-0a2352e4cce6/control.xml</controlURL>
</Service>
</Services>
</dev>
<dev>
<DeviceId>uuid:4d696e69-444c-164e-9d41-60eb694e822c</DeviceId>
<DeviceType></DeviceType>
<ServiceType></ServiceType>
<ServiceVer></ServiceVer>
<Location>http://192.168.2.1:8200/rootDesc.xml</Location>
<Os>3.11.0-gentoohm DLNADOC/1.50 UPnP/1.0 ReadyDLNA/1.1.0</Os>
<IP>192.168.2.1</IP>
<baseURL>http://192.168.2.1:8200</baseURL>
<deviceType>urn:schemas-upnp-org:device:MediaServer:1</deviceType>
<UDN>uuid:4d696e69-444c-164e-9d41-60eb694e822c</UDN>
<friendlyName>DLNA Server</friendlyName>
<Services>
<Service>
<Type>2</Type>
<SCPDUrl>http://192.168.2.1:8200/ContentDir.xml</SCPDUrl>
<serviceTypeUrn>urn:schemas-upnp-org:service:ContentDirectory:1</serviceTypeUrn>
<eventSubURL>http://192.168.2.1:8200/evt/ContentDir</eventSubURL>
<controlURL>http://192.168.2.1:8200/ctl/ContentDir</controlURL>
</Service>
</Services>
</dev>
<dev>
<DeviceId>uuid:b4c4b678-973f-5fdb-11b4-202edc24ccf7</DeviceId>
<DeviceType></DeviceType>
<ServiceType></ServiceType>
<ServiceVer></ServiceVer>
<Location>http://192.168.2.1:1104/</Location>
<Os>UPnP/1.0 DLNADOC/1.50 Platinum/0.6.9.1</Os>
<IP>192.168.2.1</IP>
<baseURL>http://192.168.2.1:1104</baseURL>
<deviceType>urn:schemas-upnp-org:device:MediaRenderer:1</deviceType>
<UDN>uuid:b4c4b678-973f-5fdb-11b4-202edc24ccf7</UDN>
<friendlyName>XBMC (laptop)</friendlyName>
<Services>
<Service>
<Type>0</Type>
<SCPDUrl>http://192.168.2.1:1104/AVTransport/b4c4b678-973f-5fdb-11b4-202edc24ccf7/scpd.xml</SCPDUrl>
<serviceTypeUrn>urn:schemas-upnp-org:service:AVTransport:1</serviceTypeUrn>
<eventSubURL>http://192.168.2.1:1104/AVTransport/b4c4b678-973f-5fdb-11b4-202edc24ccf7/event.xml</eventSubURL>
<controlURL>http://192.168.2.1:1104/AVTransport/b4c4b678-973f-5fdb-11b4-202edc24ccf7/control.xml</controlURL>
</Service>
<Service>
<Type>5</Type>
<SCPDUrl>http://192.168.2.1:1104/RenderingControl/b4c4b678-973f-5fdb-11b4-202edc24ccf7/scpd.xml</SCPDUrl>
<serviceTypeUrn>urn:schemas-upnp-org:service:RenderingControl:1</serviceTypeUrn>
<eventSubURL>http://192.168.2.1:1104/RenderingControl/b4c4b678-973f-5fdb-11b4-202edc24ccf7/event.xml</eventSubURL>
<controlURL>http://192.168.2.1:1104/RenderingControl/b4c4b678-973f-5fdb-11b4-202edc24ccf7/control.xml</controlURL>
</Service>
<Service>
<Type>5</Type>
<SCPDUrl>http://192.168.2.1:1104/RenderingControl/b4c4b678-973f-5fdb-11b4-202edc24ccf7/scpd.xml</SCPDUrl>
<serviceTypeUrn>urn:schemas-upnp-org:service:RenderingControl:1</serviceTypeUrn>
<eventSubURL>http://192.168.2.1:1104/RenderingControl/b4c4b678-973f-5fdb-11b4-202edc24ccf7/event.xml</eventSubURL>
<controlURL>http://192.168.2.1:1104/RenderingControl/b4c4b678-973f-5fdb-11b4-202edc24ccf7/control.xml</controlURL>
</Service>
</Services>
</dev>
</devroot>
</root>
